@charset "UTF-8";
body {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#title {
    border-radius: 25px;
    background-image: url(https://i.ibb.co/BcPBxKq/photo-5201846823508101699-y.jpg);
    background-color: #cccccc;;
    padding: 20px;
    width: 500px;
    height: 300px;

    position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

#mainTitle {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f1d34d;
    font-size:3em;
    float: left;
}

#Intro {

    border-radius: 25px;
    background: #fca6a6;
    padding: 20px;
    width: 800px;

    position: relative;
	top: 200;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

}
#menu {

    border-radius: 25px;
    background: #fd8787;
    padding: 20px;
    width: 800px;

    position: relative;
	top: 200;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

}
#WhatIsFelting {

    border-radius: 25px;
    background: #fe6d6d;
    padding: 20px;
    width: 800px;

    position: sticky;
	top: 200;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

}
#WhatWillYouNeed {

    border-radius: 25px;
    background: #ff3a3a;
    padding: 20px;
    width: 800px;

    position: relative;
	top: 200;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

#Gallery {

    border-radius: 25px;
    background: #ff1717;
    padding: 20px;
    width: 800px;

    position: relative;
	top: 200;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

}

#Info {

    border-radius: 80px;
    background: #f05f5f;
    padding: 20px;
    width: 500px;

    position: relative;
	top: 200;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

}
